.cart-list {
    overflow-y: auto;
    height: calc(100vh - 217px);
    &::-webkit-scrollbar {
        width: 1em;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.cart-item {
    width: 100%;
    
    .quantity {
        color: #89959B; // line-height: 28px;
        .x-icon {
            padding-left: 10px;
            padding-right: 5px;
        }
    }
    .price {
        text-align: right;
        float: right;
        margin-left: .25em;
    }
    .item-price {
        // margin-top: 5px;
        color: #89959B;
    }
}

.cart-summary-total {
    margin-left: 1px;
    bottom: 0;
    padding: 0 15px 15px;
    background: #fafafa;
    box-shadow: rgba(0, 0, 0, .15) 0 -2px 15px -5px; // border-top: 1px solid #e7e7e7;
    .totals {
        margin: 5px 0;
        padding: 10px 0;
        font-size: 14px;
        color: rgba(0, 0, 0, .6); // border-top: 1px solid #e7e7e7;
        font-weight: 600;
        .price {
            text-align: right;
            float: right;
            margin-left: .25em;
        }
    }
}